body {
    background-color: #f2f2f2;
    width: 1440px;
    font-family: "Karla";
    font-size: 16px;
}

h1 {
    color: #2ab3b1;
}

#h2 {
    color: #c0df33;
}

h2 {
    color: #ffffff;
}

#grayishblue {
    color: #9aa7be;
}

button {
    font-family: "Karla";
    background-color: #c0df33;
    border: none;
    /* Par défaut il y a une bordure lorsqu'on créé un bouton, pour l'enlever il faut appliquer la valeur none dans la propriété border */
    width: 250px;
    height: 50px;
    color: ;
    border-radius: 8px;
    font-size: 16px;
}

.gridcontainer {
    
    width: 1000px;
    height: 500px;
    border: 1px solid ;
}

.griditems{
    width: 1200px;
    height: 300px;
}

footer {
    font-size: 11px;
    text-align: center;
}